@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hide-scrollbar{
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blur-bg{
  filter: blur(3px); /* Adjust the blur amount as needed */
          transition: filter 0.5s ease-in-out; /* Add transition effect */
}

.close-button {
  position: absolute;
  top: 150px; /* Adjust as needed */
  right: 250px; /* Adjust as needed */
  z-index: 1000; /* Ensure it's above the iframe */
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}




.card {
  position: relative;
  height: auto;
  transition: 1s;
}
.button-grp{
  height: 100%;
  width: 100%;
  position:absolute;
  background-color: black;
  opacity: 0.5;
  display: none;

  transition: 1s;
}

.item-button:hover {
  color: black;
}

.card:hover .button-grp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
